<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html" target="_blank"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                 <% if(isAuthenticated){ %> 
                   
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Lessons</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="getLessons"><span class="mini-sub-pro">All Lessons</span></a></li>
                            <li><a title="Add Students" href="add-student"><span class="mini-sub-pro">Add Lesson</span></a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Courses</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Courses" href="clientAllCourses"><span class="mini-sub-pro">All Courses</span></a></li>
                           
                        </ul>
                    </li>
                    <%}%>
                
                </ul>
            </nav>
        </div>
    </nav>
</div>