<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html" target="_blank"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                 <% if(isAuthenticated){ %> 
                    <li>
                        <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Professors</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Professors" href="all-professor"><span class="mini-sub-pro">All Professors</span></a></li>
                            <li><a title="Add Professor" href="add-professor"><span class="mini-sub-pro">Add Professor</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Students</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Students" href="all-students"><span class="mini-sub-pro">All Students</span></a></li>
                            <li><a title="Add Students" href="add-student"><span class="mini-sub-pro">Add Student</span></a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Courses</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="All Courses" href="all-courses"><span class="mini-sub-pro">All Courses</span></a></li>
                            <li><a title="Add Courses" href="add-course"><span class="mini-sub-pro">Add Course</span></a></li>
                        </ul>
                    </li>
                    <%}%>
                
                </ul>
            </nav>
        </div>
    </nav>
</div>